.activity_item {
  display: inline-block;
  width: 640px;
  background: rgb(41,44,54);
  border-bottom: solid 1px rgb(58,63,78);
  overflow: hidden;
  padding: 16px;
}
.activity_item:last-child {
  border-bottom: none;
}

.activity_item .heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.activity_item .heading .created_at {
  color: rgb(72,77,95);
  font-size: 14px;
}

.activity_item .heading a.handle {
  text-decoration: none;
  font-weight: 800;
  color: #fff;
  font-size: 14px;
}

.activity_item .message {
  color: #fff;
  font-size: 14px;
}